.catalog-list{
    border-radius: 5px;
    display: inline-block;
    width: 800px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.my-btn{
    margin-left: 20px;
}

.in-stock{
    border-radius: 3px;
    background-color: green;
    margin-left: 20px;
    width: 80px;
}

.about{
    display: inline-block;
    padding-left: 50px;
}
.about-price{
    padding-top: 20px;
}


.image-div{
    width:300px;
    display: inline-block;
}

.catalog-name{
    width: 400px;
    display: inline-block;
    border-radius: 10px;
    background-color: lightcoral;
}

.img-settings{
    width: 300px;
}
